html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

#gameCanvas {
    display: block;
    width: 100%;
    height: 100%;
}

#loadingOverlay {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-family: monospace;
    z-index: 10;
}

